body{
    margin: 0;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#map {
    height: 40%;
    min-height: 200px;
    max-height: 400px;
    margin-top: -64px;
}

#title{
    position: absolute;
    top: 84px;
    left: 60%;
    z-index: 100000;
    color: #989898;
    font-size: 20px;
    font-weight: 200;
    pointer-events: none;
    padding: 24px;
}

#latest_collections{
    margin-top: 10px;
    padding-top: 24px;
    padding: 14px;
}

.coll_snippet_selected{
    box-shadow: 0 0 5px 3px rgba(36, 83, 124, 1);
    transition: all 200ms ease-out;
    border-radius: 2px;
}

.collectionsSearch{
    margin-top: -67px;
    background-color: rgba(255, 255, 255, 0.55) !important;
    height: 43px !important;
    border-radius: 3px 3px 0 0;
}

.collectionsSearch label{
    top: 8px !important;
}

.collectionsSearch input{
    margin-top: 0px !important;
}

.collectionsSearch div:nth-child(4) hr:nth-child(2){
    border-top: none rgb(0, 0, 0) !important;
    border-right: none rgb(0, 0, 0) !important;
    border-bottom: 2px solid rgb(0, 0, 0) !important;
}

.snippetTitle{
    cursor: pointer;
}
