body{
  background-color: rgb(255, 255, 255);
}

.appBar{
    background-color: rgba(45, 104, 156, 1) !important;
}

.appBar h1{
  cursor: pointer;
  max-width: 500px;
  color:  rgba(23, 52, 78, 1) !important;
}

.appBarMenu{
  padding-top: 10px;
}

.appBarMenu > div{
  background-color: rgba(45, 104, 156, 1) !important;

}

.appBarTab{
  min-width: 200px;
  color:  rgba(23, 52, 78, 1) !important;
}
